@model IEnumerable<Entities.Models.BlogUser>

@{
    ViewData["Title"] = "Index";
} 
<div class="row mt-5">
    <div class="col"> 
        <a asp-action="Create" class="btn btn-outline-dark mb-2 btn-sm">
            <i class="fa fa-user-plus"></i>
            Yeni Ekle
        </a>
        <table class="table table-hower">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td> 
                            <form asp-action="Delete" method="post" asp-route-id="@item.Id">
                                 
                                <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning">
                                    <i class="fa fa-pencil"></i>
                                </a>

                                <button type="submit" class="btn btn-sm btn-outline-danger">
                                    <i class="fa fa-trash"></i>
                                </button> 
                            </form> 

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
